<%- include('./partials/header.ejs') %>

    <main>
        <Section class="brand-description-section">
            <h2 class="brand-description-section-heading">About Page</h2>
            <article class="brand-description-article">
                <h3 class="brand-description-article-heading">Welcome to <span class="brand-name">Cricket App</span>
                    website.</h3>
                <p class="brand-description">
                    <img src="https://as2.ftcdn.net/v2/jpg/02/58/48/21/1000_F_258482163_wmkHGJeGJ2b5mkdNjQV49tAUqQmBl5wX.jpg"alt="cricket"style="width:300px;height:100px;">
  <p> WELLCOME to Cricket Championship.</p>
  <p> Wining a trophy merely collects 5 minutes of pride and a shelf life of dust. </p>
  <p> But giving 100% and finishing what you had started, collects a lifetime of irreplaceable confidence in yourself.</p> 
  <p> All the best for your cricket Tournament.</p>
                    <br><br>
                    Check out the Connections section to browse available/upcoming Connections!
                </p>
            </article>
        </Section>
        .
    </main>


    <%- include('./partials/footer.ejs') %>