<%- include('./partials/header.ejs') %>

<main>
    <div class="content">
        <h2 class="brand-description-section-heading">Contact Page</h2>
        <img src="https://as2.ftcdn.net/v2/jpg/02/58/48/21/1000_F_258482163_wmkHGJeGJ2b5mkdNjQV49tAUqQmBl5wX.jpg"alt="cricket"style="width:400px;height:100px;">
  
        <p> WELLCOME to Cricket Championship.</p>
        <p> Triangle Cricket League. </p>
        <p> Raleigh, North Carolina.</p> 
        <p> Phone Number: +12348967656.</p>
    </div>

</main>


<%- include('./partials/footer.ejs') %>