<%- include('./partials/header.ejs') %>
    <!--
        main section
    -->
    <main>
        <Section class="brand-description-section">
            <h2 class="brand-description-section-heading">Welcome to <span class="brand-name">Cricket App</span>
                website.</h2>
            <article class="brand-description-article">
            
                <p class="brand-description">

                    <img src="https://as2.ftcdn.net/v2/jpg/02/58/48/21/1000_F_258482163_wmkHGJeGJ2b5mkdNjQV49tAUqQmBl5wX.jpg"alt="cricket"style="width:250px;height:100px;">

  <iframe width="300" height="200"
src= "https://www.youtube.com/embed/8CnIYtRUytk?autoplay=1"></iframe>
                    <p> WELLCOME to Cricket Championship.</p>
  <p> we have very good management and this tournament will be go 
    live telecast on youtube.</p>  
  <p>In This Tournament player of age between 15-40 will be avilable to take part.</p>
<p>This Tournament will use Leather Ball.</p>
                    Check out the connections section to browse available/upcoming connections!
                </p>
            </article>
        </Section>
        
    </main>
    <!--
        footer section
    -->
    <%- include('./partials/footer.ejs') %>